@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* layout */

body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0;
  line-height: 1.6;
}


/* target any direct child of spacing */
.spacing > * + * {
  margin-top: var(--spacer, 2rem);
}

.customBtn {
  margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    color: var(--clr-text, rgb(2, 2, 2));
    font-weight: 700;
    background-color: var(--clr-accent, rgb(254, 254, 255));
    text-transform: uppercase;
    font-size: 1.125rem;
    padding: 0.5rem 1.25rem;
    border-radius: 0.25rem;
    transition: transform 250ms ease-in-out, opacity 250ms linear;
  }
  
  .customBtn:hover {
    transform: scale(1.1);
    opacity: 0.9;
    text-decoration: none;
    color: var(--clr-text, rgb(0, 0, 0));
  }
  

/* hero section */

.primary-title {
  font-size: 4rem;
  font-size: clamp(3rem, calc(5vw + 1rem), 4.5rem); /* responsive font */
  line-height: 1.5;
  font-weight: 500;
  /* text-transform: uppercase; */
}

.main-title{
    text-transform: uppercase;
}

.hero {
  text-align: center;
  padding: 19rem 0;
  color: white;
  background: #222; /* fallback if blend mode is not supported */
}


@supports (background-blend-mode: multiply) {
  .hero {
    background: url(https://wallpapercave.com/wp/wp5240523.jpg),
      radial-gradient(#444, #111);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

/* customize CSS variables */
.hero {
  --clr-accent: #000000;
}
